/* Cart styling */
.cart {
    position: absolute;
    min-height: 10rem;
    background: var(--mainWhite);
    top: 20px;
    right: 100px;
    /* transition: all 0.3s ease-in-out; */
    width:200px;
    overflow: hidden;
}
.show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    /* transform: rotateY(-360deg); */
}
.cart-item {
    /* transition: all 2s ease-in-out; */
}
/* end of cart??? */

/* Cart item */
.cart-item-remove {
    color: var(--mainPink);
    /* transition: all 1s ease-in-out; */
}
.cart-item-remove:hover {
    transform: scale(1.1);
    color: var(--mainBlack);
}
#brownbag:hover {
    transform: scale(1.5);
    overflow: visible;
}