
#btn-1 {
 width: 150px;
 height: 30px;
 border: 2px solid black;
 border-radius: 20%;
 margin: 10px;
}
#btn-1:hover {
    transform: scale(1.2);
    background-color: crimson;
}
#photoAll {
    float: left;
}